
.example 
   {
       display: none;
   }
   
   table:hover 
   {
       background-color: rgba(200,200,200, 0.7);
       -webkit-transition: 1s;
       -o-transition: 1s;
       transition: 1s;
       border: black;
   }
   table img:hover 
   {
       display: none;
       
   }
   table:hover .example
   {
       display: block;
       -webkit-transition: 1s;
       -o-transition: 1s;
       transition: 1s;
   }
   table:hover img
   {
       display: none;
       
   }
   .example .table-link {
        text-decoration: none;
        font-size: 13px;
        color: black;
       
   }
   .table-link:hover {
        color: rgb(237,28,36);
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
   }
   /* .logo-orange {
       width: 195px;
      margin-top: 40px;
   } */
   .table-orange {
       margin: auto;
       width: 100%;
     
   }
   
   .art2 {
    height: 116px;
    }
   

  .flexbox-container
    {
       display: -webkit-box;
       display: -ms-flexbox;
       display: flex;
       -webkit-box-pack: center;
           -ms-flex-pack: center;
               justify-content: center;
               align-items: center;
       -webkit-box-align: center;
           -ms-flex-align: center;
       -ms-flex-wrap: wrap;
           flex-wrap: wrap;
     
       margin-top: 12px;
    }
    .flexbox-container div
    {
        margin: 7px;
        border: 1px solid red;
        background-color: white; 
        text-align: center;
       
    }
    
    @media(min-width:640px)
    {
       .flexbox-container
       {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
       }
       .flexbox-container div
       {
           -ms-flex-preferred-size: 300px;
               flex-basis: 300px;
       }
    } 
 
    
  
  


