.article__list {
    
    flex-basis: 100%;
    margin-bottom: 10px;
    &--title {
        text-align: center;
        font-size: 17px;
    }
    &--description {
        margin: auto;
        text-align: justify;
        width: 88%;
        margin-top: 5px;
        font-size: 12px;
    }
    &--subtitle {
        text-align: center;
        margin-top: 21px;
        font-size: 14px;
    }
}