


.article__flex--wrapper{
    display: flex;
   flex-basis: 100vw;
}
.article__list--left {
   width: 318px;   
   padding: 15px 20px;
   text-align: left;
}
.article__list--list {
    
    padding: 3px;
    /* margin: 25px 40px; */
    
    border: 1px solid rgb(228, 227, 227);
   /*  background-color: rgb(221, 220, 220); */
}

.article__list--link {
    font-size: 12px;
    
    text-decoration: none;
}
.article__list--link:hover {
    color: $main-color;
    transition: 0.5s;
}
.article__list--link:hover {
    color: $main-color;
    transition: 0.5s;
}
.example-link {
    font-size: 12px;
    text-decoration: none;
    list-style: none;
    padding: 3px;
}
.example-link:hover  {
    /* background-color: rgb(185, 184, 184); */
    background-color: #dddcdc;
}

/*------------right---------------------- */
.article__wrap--section {
    flex-wrap: wrap;
   
    /* display: flex; */
    /* min-height: 98vh; */
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
    /* justify-content: space-around;
    align-content: space-around; 
    margin-bottom: 30px; */
}
.article__wrap-right { 
    box-sizing: border-box;
    flex-direction: row;
    align-items: stretch;
    /* flex-basis: 100%; */
    /* flex-wrap: wrap; */
    /* padding: 10px; */
    width: 93%;
    line-height: 1.2;
    text-align: justify;
    /* kontener */
   /*  display: flex; */
 } 
/* .article__wrap--article {
    display: flex;
    flex-direction: row;
} */
 .jj { 
   margin-top: 14px;
 }
    
/* }  
/* .article__title-div { */
   /*  margin: auto; */
    /* border: 1px solid yellow; */
    /*  margin: 10px 10px; */
    /* flex-basis: 100%; *//* 
    */ /* text-transform: uppercase; */
    /*  text-align: center; */
    /* font-size: 14px;
    font-weight: bold;
    display: flex; */
/* } */
 .article__image {
     float: left;
     width: 20%;
     padding: 10px;
    }
    
    /* .fa-sign-out-alt {
    margin-left: 50px;

} */
.article_title {
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
}
.article__description {
    padding: 5px;
    font-size: 13px;
}

@media(max-width: 900px)
{
    .example-link
   {
   font-size: 10px;
   }
   .article__list--link {
       font-size: 10px;
   }
   .main-title {
       font-size: 10px;
   }
   .article__image {
       width: 30%;
   }
}  

