.footer {
    flex-basis: 100%;  
    border: 1px solid $main-color;
    background-image: linear-gradient(to bottom, #9ed2d0, #7bb2b0, #589391, #367573, #095856);
    /* .sm-links {
        flex-basis: 30%;
    } */
    
}
.footer-wrap {
    justify-content: space-evenly;
    display: flex;
    width: 80%;
    /* height: 110%; */
    margin: auto;
    margin-top: 22px;
}
.sm-links {
    
   /*  border-bottom: 1px solid $main-color;
    border-top: 1px solid $main-color; */
   /*  &--darken { */
        /* background: linear-gradient(0deg, rgba(2,0,36,0.7) 0%, rgba(31,130,142,1) 48%, rgba(0,212,255,1) 100%); */
        
        /* background: rgb(43, 41, 41); */
    /* } */
    &__title{
        /* margin: 20px 0 10px; */
        font-size: 1.5rem;
        margin-top: 3px;
        color: black;
    }
    &__item{
        font-size: 1.5rem;
        padding: 2px 0px;
        color: beige;
        line-height: 0.9;
    }
}
.sm-links a {
    text-decoration: none;
    font-size: 30px;
}
.sm-links__item:hover {
    color: $main-color;
    transition: 0.5s;
}
.footer-description {
    color: black;
    font-size: 7px;
   text-align: left;
   margin-left: 10px;
   color: beige;
   margin-top: 2px;
}
.wrap-icons {
    background-color: rgb(241, 158, 41);
    text-align: center;
    margin-top: 20px;
}
  
  @media (max-width: 1900px) { 
    .footer-wrap {
        margin-left: 20px;
       width: 100%;
       text-align: left;
      /* flex-wrap: wrap; */
    } 
    .sm-links {
        flex-basis: 100%;
        /*  order: 3; */
    } 
    .sm-links__item {
        font-size: 1.4rem;
        line-height: 0.6;
        justify-content: space-evenly;
    }
} 
@media (max-width: 640px) {
    .article__wrap {
        display: none;
    }
    /* .footer-wrap { */  
     /*  flex-wrap: wrap; */
      /* justify-content: center; */
     /*  margin: 0; */
    /* } */
    /* .sm-links {
        text-align: center;
        flex-basis: 50%;
        
    } */
} 
@media (max-width: 480px) {
    .footer-wrap {  
      flex-wrap: wrap;
      justify-content: center;
     /*  margin: 0; */
    }
    .sm-links {
        text-align: center;
        flex-basis: 51%;
        
    }
} 