.section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around; 
    /* align-items: stretch;
    justify-content: center; */
}
.panel-widget-style {

    text-align: center;
}
.section1 {
    display: flex;
    flex-direction: row;
    
   /*  align-items: stretch;
    justify-content: end; */
    min-height: 40vh;
    margin-left: 30px;
}
.ten {
    align-self: stretch;
    flex-basis: 1;
    display: flex; 
    flex-grow: 1;
    background-color: blueviolet;
    flex-direction: column;
    width: 80vh;
    justify-content: end; 
    align-items: end; 
}
.ten11 {
    align-self: stretch;
    
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: rgb(43, 226, 195);
    flex-direction: column;
    width: 30vh;
    justify-content: end; 
    align-items: end; 
}
.ten1 {
    background-color: bisque;
    align-self: stretch;
    flex-basis: 1;
    display: flex;
    flex-grow: 1;
}
.ten2 {
    background-color: rgb(128, 113, 96);
    
}
.ten3 {
    background-color: rgb(106, 131, 107);
  height: 10vh;
}
.ten12 {
   
    min-width: 50vh;
    text-align: center;
}
.ten4 {
    background-color: rgb(31, 218, 40);
    height: 5vh;
    
}
.ten5 {
    background-color: rgb(158, 80, 165);
  height: 5vh;
}
.ten6 {
    background-color: rgb(73, 82, 161);
    height: 5vh;
    
}
.ten9 {
    
    min-width: 50vh;
    align-content: center;
    align-self: auto;
}

.ten10 {
    background-color: rgb(226, 206, 150);
    display: flex;
    flex-direction: column;
    height: 30vh;
}
.textwidget {
   
    height: 250px;
    width: 500px;
}
.thanks {
    margin-top: 150px;
    margin-bottom: 370px;
    flex-basis: 100vw;
}
.thanks h2 {
    text-align: center;
    flex-basis: 100vw;
    font-size: 15px;
}
.thanks-back {
    margin-top: 30px;
    color: $main-color;
}