.zaluzja16mm {
   /*  display: flex; */
    /* min-height: 85vh;
    min-width: 40vh;
    flex-direction: column;
    flex-grow: 1; */
    margin-top: 25px;
    /* justify-content: center;
    align-items: center; */
  /*   text-align: center; */
}
/* .zaluzja16mm-bis {
    text-align: left;
} */
.about-company li {
    list-style: none;
}
.about-company__list {
    margin-left: 60px;
    font-size: 14px;
}
.wrap-pictures {
  align-self: stretch;
  flex-basis: 1;
  display: flex;
  flex-grow: 1;
  margin-left: 15px;
}
.system-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center; 
  align-items: center; 
  margin-top: 20px;
  flex-grow: 1;
  
}
.system-wrap__title {
    font-size: 15px;
    margin-bottom: 10px;
    width: 80%;
    /* padding: 20px; */
}

.system-description {
    width: 80%;
    font-size: 12px;
}
.banner-title {
    margin: auto;
    width: 300px;
    /* background-color: $second-color; */
    border: 1px solid  $main-color;
    padding: 20px;
    box-shadow: 3px 3px 5px 0 black;
}
.banner-title__time-email {
    font-size: 13px;
}
/* .system-pictures {
    background-color: rgb(82, 50, 50);
    display: flex;
    flex-wrap: wrap; 
} */

.system-description__system {
    
    min-height: 0vh;
    flex-grow: 1;
    display: flex;
    /* justify-content: center; */
    margin: 10px;
}
.system-description__subsystem {
    
    text-align: left;
    margin: 20px;
    font-size: 12px;
}
.main-title-description-div {
    text-align: justify;
    line-height: 1.3;
  /* flex-grow: 1;
  flex-grow: 30%; */
}
/* .about-company-wrap {
    
} */
.article__wrap {
}
.about-company-wrap-special {
    
    margin-left: 30px;
}
.main-title-description-wrap {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
@media (max-width: 1000px) {
  .system-pictures,
  .wrap-pictures{
    flex-wrap: wrap;
  }
  .system-description__system
   {
    flex-basis: 100%;
    
  }
  .banner-title {
      margin-top: 20px;
  }
  .wrap-pictures {
      justify-content: center;
      align-items: center;
  }
}
@media (max-width: 640px) {
  
  }
.thumbnail
{
    width: 70px;
}
.thumbnail:hover
{
  border-bottom: 2px solid $main-color;
    margin-bottom: -2px;
}
#mainImage
{
    width: 350px;
    height: 183px;
    margin-bottom: 60px;
}
.current
{
    border-bottom: 2px solid $main-color;
    margin-bottom: -2px;    
}
#tooltipContainer
{
    border-bottom: 3px solid #eee;
    background-color:#f7f5d0;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 10px;
    padding: 5px;
    display: none;
    
  }
  /* -------------to------------------------ */
  



   .example-second 
   {
       display: none;
       width: 232px;
       height: 121px;
    }
    .main-picture {
        width: 300px;
        height: 107px;
    }
    .category-right__main:hover 
    {
        background-color: rgba(200,200,200, 0.7);
        transition: 1s;
        border: black;
        width: 290px;
        height: 128px;
        margin-bottom: 14px;
        .table-link__none {
           display: none;
        }
    }

    
    .table-link__none--title {
        font-size: 12px;
    }

    

    .category-right__main img:hover 
    {
       display: none;
   }
   .category-right__main:hover .example-second
   {
       display: block;
       transition: 1s;
   } 
   
   .category-right__main:hover img
   {
       display: none 
   }
   .example-second .table-link {
        text-decoration: none;
        font-size: 13px;
        color: black;   
   }
   .table-link:hover {
       color: $main-color;
       border-bottom: 1px solid $main-color;
        transition: 1s;
   }
    
    .category-right__main
    {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap; 
    }
    .category-right__main div
    {
        background-color: white; 
        text-align: center;
        
    }


    @media(max-width: 900px)
    {
        .article__list--left
       {
       width: 220px;
       }
       .example {
           width: 169px;
       }
       .about-company__list {
        
        font-size: 12px;
    }
    }  
    
    @media(min-width:640px)
    {
        .flexbox-container
        {
            flex-direction: row;
        }
        .flexbox-container div
        {
            flex-basis: 250px;
        }
        .table-link__none {
            font-size: 7px;
        }
        .about-company__list {
        
            font-size: 12px;
        }
    } 
    
    @media(max-width: 640px)
     {
        .example-second .table-link
        {
        font-size: 15px;
       
        }
        .category-right__main div
        {
            
                flex-basis: 400px;
        }
     } 
  
     

 
/* <!----------------------------------> */
/* <!----------------------------------> */
/* ------------orange-end-------------- */
/* .flexbox-container
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
     
   }
   .flexbox-container div
   {
       margin: 7px;
       border: 1px solid red;
       background-color: white; 
       text-align: center;
      
   }
   
   @media(min-width:640px)
   {
      .flexbox-container
      {
               flex-direction: row;
      }
      .flexbox-container div
      {
              flex-basis: 300px;
      }
   } 

   
  */
  /* .example 
  {
      display: none;
  }
  .table:hover 
  {
      width: 220px;
      height: 125px;
      background-color: rgba(200,200,200, 0.7);
      transition: 1s;
      border: black;
  }
  
  .table .main-picture:hover 
  {
      display: none;
  }
  .table:hover .example
  {
      display: block;
      transition: 1s;
      width: 220px;
      height: 125px;
  }
  .table:hover .main-picture
  {
      width: 220px;
      height: 125px;
      display: none 
  }
  .example .table-link {
       text-decoration: none;
       font-size: 13px;
       color: black;  
       
  }
  .table-link:hover {
       color: rgb(237,28,36);
       transition: 1s;
  } */
  /* .logo-orange {
      width: 195px;
     margin-top: 40px;
  } */
 /*  .table-orange {
      margin: auto;
      width: 100%;
    
  } */
  
  /* @media(max-width: 640px)
   {
      .example .table-link
      {
      font-size: 15px;
     
      }
      .flexbox-container div
      {
          
              flex-basis: 400px;
      }
   }  */
 /* ------------orange-end-------------- */
 /* .flexbox-container
   { */
      /* display: flex; */
      /*  justify-content: center;
       align-items: center; */
      /*  flex-wrap: wrap;
      margin-top: 12px; */
   /* } */
   /* .flexbox-container div
   {
       margin: 7px;
       border: 1px solid red;
       background-color: white; 
       text-align: center;
      
   } */
   
  /*  @media(min-width:640px)
   {
      .flexbox-container
      {
               flex-direction: row;
      }
      .flexbox-container div
      {
              flex-basis: 300px;
      }
   }  */

   
 