
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

@import "~normalize.css";


@import "_variables";
@import "modules/hello.scss";
@import "./wrapper";
@import "./nav";
@import "./header";
@import "./article";
@import "./footer";
@import "./baner";
@import "./animation";
@import "./icon&pictogram";
@import "./article__flex";
@import "./category.scss";
@import "./nav-hamburger.scss";


$default-font: arial, sans-serif;
$special-font: 'pt sans', 'roboto', arial, sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}
body {
  
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
html {
  font-size: 7px;
  font-family: $default-font;
  
}
.settings {
  display: flex;
}
.fa-phone-volume, 
.fa-clock,
.fa-at,
.fa-map-marker-alt,
.fa-globe-americas {
  color: $main-color;
  margin-right: 10px;
  font-size: 2rem; 
}
.fa-home {
  font-size: 25px;
  color: $main-color;
}
.fa-hand-pointer,
.fa-tachometer-alt,
.fa-tv,
.fa-users {
  color: $main-color;
  font-size: 6rem; 
}
.fa-exclamation,
.fa-sign-in {
  color: $main-color;
  font-size: 3rem;
  margin-right: 5px; 
  
}
.fa-circle {
  font-size: 8px;
  color: $main-color;
  margin-right: 15px;
  margin-left: 15px;
  
}
.fa-sign-in-alt {
  color: $main-color;
  font-size: 20px;
  margin-right: 10px;
}
.fa-facebook {
  color: $facebook;
  font-size: 4rem;
  margin-right: 30px;
  margin-left: 30px;
 
}
.fa-sign-out-alt {
  color: $main-color;
  font-size: 15px;
  margin: 4px;
  margin-left: 5px;
  
}
.main-wrap {
  
  width: 100%;
}
.fa-sign-out {
  font-size: 2rem;
}
.main-title {
  /* text-align: center; */
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  /* margin: 19px 200px; */
  font-size: 2rem;
 /*  background-color: rgba(0,0,0,0.4); */
  padding: 5px;
  color: black;
}
.main-title {
    width: 100%;
    text-align: center; 
    font-size: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;  
  }
  .main-description {
  font-size: 1.5rem;
  font-family:Georgia, 'Times New Roman', Times, serif;  
  font-weight: bold;
  line-height: 1.7;
  text-align: justify;
  width: 93%;
  margin: auto;
}
#tooltipContainer
{
    border-bottom: 1px solid white;
    background: linear-gradient(0deg, rgba(2,0,36,0.7) 0%, rgba(31,130,142,1) 48%, rgba(0,212,255,1) 100%); padding: 25px 25px;
    position: absolute;
    color: white;
    text-transform: uppercase;
    left: 50px;
    top: 0;
    font-size: 11px;
    padding: 5px;
    display: none;
    
}