
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

@import "~normalize.css";


@import "_variables";
@import "modules/hello.scss";
@import "./wrapper";
@import "./nav";
@import "./burger";
@import "./header";
@import "./article";
@import "./footer";
@import "./baner";
@import "./animation";
@import "./icon&pictogram";
@import "./article__flex";
@import "./category.scss";
@import "./nav-hamburger.scss";
@import "./zdjecia";
@import "./main-category.scss";
@import "./kontakt.scss";
@import "./systemy.scss";



$default-font: arial, sans-serif;
$special-font: 'pt sans', 'roboto', arial, sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}
body {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  /* min-height: 120vh; */
}
html {
  font-size: 7px;
  font-family: $default-font;
  font-family: 'Josefin Sans', sans-serif, Arial, Helvetica, sans-serif;
}
.settings {
  display: flex;
}

.fa-phone {
  color: $main-color;
  margin-right: 5px;
  font-size: 1.5rem; 
}

.fa-phone-volume,
.fa-clock,
.fa-at,
.fa-map-marker-alt,
.fa-globe-americas {
  color: $main-color;
  margin-right: 5px;
  font-size: 2.5rem; 
}

 

.fa-home {
  font-size: 25px;
  color: $main-color;
}
.fa-hand-pointer,
.fa-tachometer-alt,
.fa-tv,
.fa-users {
  color: $main-color;
  font-size: 4rem; 
}
.fa-angle-double-right {
    color: $main-color;
    font-size: 2.5rem; 

}
.fa-exclamation,
.fa-sign-in {
  color: $main-color;
  font-size: 3rem;
  margin-right: 5px; 
  
}
.fa-circle {
  font-size: 8px;
  color: $main-color;
  margin-right: 15px;
  margin-left: 15px;
  
}
.fa-sign-in-alt {
  color: $main-color;
  font-size: 13px;
  margin-right: 10px;
}
.fa-facebook {
  color: $facebook;
  font-size: 4rem;
  margin-left: 40px;
  margin-right: 30px;
}
.fa-facebook-square,
.fa-amazon-pay,
.fa-cc-mastercard,
.fa-apple,
.fa-windows,
.fa-android {
  color: black;
  font-size: 2.5rem;
  margin-left: 20px;
  
}
.fa-sign-out-alt {
  color: $main-color;
  font-size: 15px;
  
}
.main-wrap {
  
  width: 100%;
}
.fa-sign-out {
  font-size: 2rem;
}
.main-title {
  font-size: 2rem;
  padding: 5px;
  color: black;
  width: 100%; 
  margin-left: 20px;
  /* min-height: 13vh; */
}



  .main-description {
  font-size: 1.6rem;
  
  margin-bottom: 49px ;
 
  line-height: 1.3;
  text-align: justify;
  width: 93%;
  margin: auto;
}
@media(max-width: 900px)
{
  .fa-home {
    font-size: 17px;
}
  .fa-facebook {
  
  font-size: 3rem;
  margin-left: 20px;
  margin-right: 15px;
}
.main-title {
  font-size: 11px;
}
.main-description {
  font-size: 10px;
}
.article__description {
  font-size: 11px;
}
.fa-angle-double-right {
  font-size: 2rem;
}
.fa-hand-pointer, .fa-tachometer-alt, .fa-tv, .fa-users {
   font-size: 3rem;
}
.tooltip {
     width: 50px;
}
.fa-circle {
    font-size: 6px;
  }
  .fa-sign-out-alt {
    font-size: 10px;
  }
  .fa-phone-volume, .fa-clock, .fa-at, .fa-map-marker-alt, .fa-globe-americas {
    font-size: 9px;
  }
}
@media(max-width: 900px) {
  .tooltip {
    width: 25px;
}
}
@media(max-width: 480px) {
  .fa-hand-pointer, .fa-tachometer-alt, .fa-tv, .fa-users {
    font-size: 2rem;
}
}

